<!--View Information-->
<!--View name : Default User Interface-->
<!--Controller name : defaultUserInterfaceCtrl-->
<!--Controller path : www/templates/material-user-interface/default-user-interface/js/defaultUserInterfaceCtrl.js-->
<!--State name : app.app.material-ui-->
<!--URL : #app/app.material-ui-->

<ion-view title="User Interface"   ng-controller="defaultUserInterfaceCtrl">

  <ion-slide-box id="user-interface-content" active-slide="0">
    <!--slide section-->
    <ion-slide class="slide-02">
      <form name="contractForm">
        <ion-content id="default-input-content">
          <md-input-container md-no-float="" class="md-list-item-full-width">
            <input placeholder=" Input Text">
          </md-input-container>
          <md-input-container class="icon-title" md-no-float>
            <i class="ion-android-mail"></i>
            <input name="email" placeholder="Input Text">
          </md-input-container>
          <md-input-container class="icon-title" md-no-float>
            <i class="fa fa-unlock-alt"></i>
            <input type="password" name="password" placeholder="Input Password">
          </md-input-container>
          <md-input-container class="icon-title" md-no-float>
            <i class="ion-android-favorite"></i>
            <input numbers-only name="age" ng-model="inputNumber" placeholder="Input Number" type="tel">
          </md-input-container>
        </ion-content>
      </form>
    </ion-slide>
    <ion-slide class="slide-13">
    </ion-slide>
    <!--end slide section-->
  </ion-slide-box>  <!--end user interface section-->

</ion-view>

<!--angular template section-->
<script type="text/ng-template" id="ui-list-bottom-sheet-template">
  <md-bottom-sheet class="md-list md-has-header" ng-cloak>
    <h1 class="md-bottom-sheet-header">List Bottom Sheet</h1>
    <!--list section-->
    <md-list>
      <md-list-item>
        <a class="md-default-theme md-bottom-sheet-list-item"
           ng-click="closeListBottomSheet()">
          <i class="ion-android-call"></i>
          <span>Actions 1</span>
        </a>
      </md-list-item>
      <md-list-item>
        <a class="md-default-theme md-bottom-sheet-list-item"
           ng-click="closeListBottomSheet()">
          <i class="ion-android-list"></i>
          <span>Actions 2</span>
        </a>
      </md-list-item>
      <md-list-item>
        <a class="md-default-theme md-bottom-sheet-list-item"
           ng-click="closeListBottomSheet()">
          <i class="ion-android-delete"></i>
          <span>Actions 3</span>
        </a>
      </md-list-item>
    </md-list>

    <!--end list section-->
  </md-bottom-sheet>
</script>

<script type="text/ng-template" id="ui-grid-bottom-sheet-template">
  <md-bottom-sheet class="md-grid">
    <!--list section-->
    <md-list id="bottom-sheet-grid-md-list">
      <md-list-item>
        <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
          <md-icon md-svg-src="img/icons/facebook.svg"></md-icon>
          <div class="md-grid-text"> Facebook</div>
        </a>
      </md-list-item>
      <md-list-item>
        <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
          <md-icon md-svg-src="img/icons/twitter.svg"></md-icon>
          <div class="md-grid-text"> Twitter</div>
        </a>
      </md-list-item>
      <md-list-item>
        <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
          <md-icon md-svg-src="img/icons/mail.svg"></md-icon>
          <div class="md-grid-text"> Mail</div>
        </a>
      </md-list-item>
      <md-list-item>
        <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
          <i class="ion-android-image"></i>

          <div class="md-grid-text"> Save Image</div>
        </a>
      </md-list-item>
      <md-list-item>
        <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
          <md-icon md-svg-src="img/icons/share-arrow"></md-icon>
          <div class="md-grid-text"> More</div>
        </a>
      </md-list-item>
    </md-list>
    <!--end list section-->
  </md-bottom-sheet>
</script>
<!--end angular template section-->
