<ion-view title="Sign Up">
  <!--left button on navigation bar-->
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
        <!-- <i class="ion-android-arrow-back"></i> -->
      </a>
    </ion-nav-buttons><!--end left button on navigation bar-->
    <ion-nav-title>Sign Up</ion-nav-title>
  </ion-nav-bar>


  <md-content layout-padding id="winston-signup" class="bg-white">
    <form name="userForm">
      <div>
        <img class="svg_logo" src="img/winston_logo.svg" style="width:200px;"/>
        <md-subheader style="color:forestgreen">PARENTING.SIMPLIFIED.</md-subheader>
      </div>
      <div>
        <p>We are almost finished. Please create a password to complete the registration.</p>
      </div>
      <div>
        <md-input-container md-no-float class="md-block md-no-float">
          <label>Password</label>
          <input type="password" name="password" style="border-bottom: 1px solid #ccc;" ng-model="data.password" required/>
            <div ng-messages="userForm.password.$error">
              <div ng-message="required">
                Password is required
              </div>
            </div>
        </md-input-container>
        <md-input-container md-no-float class="md-block md-no-float">
          <label>Confirm Password</label>
          <input type="password" style="border-bottom: 1px solid #ccc;" name="password_confirm" ng-minlength="8" ng-model="data.password_confirm" required/>
          <div ng-messages="userForm.password_confirm.$error">
            <div ng-message="required">
              Password confirm is required
            </div>
            <div ng-message="minlength">Must be 8 characters or more</div>
          </div>
        </md-input-container>
        <div class="padding">
          <button type='submit' ng-disabled="userForm.$invalid || userForm.$pending" class="button button-block button-calm" ng-click="update_password()">Complete Registration</button>
        </div>
    </form>
    </div>
  </md-content>
</ion-view>
